/* blink {
    -webkit-animation: 1s linear infinite condemned_blink_effect; // for android
    animation: 1s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
} */

h1 {
    
    animation-name: moveInLeft;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    font-size: 300%;}

@keyframes moveInLeft {
0% {
    
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
}

80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(50rem);
}

100% {
    
    -webkit-transform: translate(0);
    transform: translate(0)
}

}